.logo {
  width: 120px;
  height: 31px;
  color: white;
  float: left;
}

.menu{
  line-height: 64px;
}

.content{
  padding: 0 50px;
}

.breadCrumbs{
  margin: 16px 0;
}

.children{
  background: #fff;
  padding: 24px;
  min-height: 90vh;
}

.footer{
  text-align: center;
}
